table,tr,td{
    border:2px solid black
}
table{
   width:100%;
   height: auto;
   margin: auto;
   background-color:lightgreen;
}
tr,td{
    width:auto;
    height:auto;
    margin:auto;
}
td:hover{

    background-color: yellow;

}
.pan{
    background-color:red;
    text-align: center;
}

